.cart
	h2.text-center Корзина

	table
        / - if @cart
        - @cart.line_items.each do |item|
            tr
                td
                    => item.dish.name
                td
                    'x
                    => item.quantity
                td
                    '=
                    = item.total_price
            br
	hr
	/ - if @cart.present?
	h5.text-center Итого: $ #{@cart.total_price}
	.text-center
        = button_to 'Очистить корзину', @cart, method: :delete, data: {confirm: 'Are you sure?'}
	    / - else
	    / .text-center.text-danger
		 /    p Корзина пуста