section class="list-dishes"
	.container
		.row
			.col-md-2
			- @dishes.each do |d|
				- if d.photo.attached?
					= link_to dish_path(d) do
						= image_tag d.photo, size: '150', class:"ml-3"
				= button_to "Add to Cart", carts_path(dish_id: d), method: :post, remote: true
				