section class="show"
	.container
		=> link_to 'Главная', restaurants_path
		'>
		=> link_to restaurant_path(@dish.restaurant_id) do
			= @dish.restaurant.name
		h2 #{@dish.name}
		.row
			.col-md-4
				= image_tag @dish.photo, size: '150'
			.col-md-8
				br
				br
				= @dish.name
				br
				br
				= @dish.description

