br
h2 Пункты питания
.row
	- @restaurants.each do |r|
		.card.m-3 style="width: 12rem;"
			- if r.picture.attached?
				= link_to restaurant_path(r) do
					= image_tag r.picture, size: '150', class:"card-img-top"
				.card-body.text-center
					= r.name
				