- if notice
p id="notice"
  = notice
section class="show"
	.container
		=> link_to 'Главная', restaurants_path
		'>
		= @restaurant.name
		h2 #{@restaurant.name}
		.row
			.col-md-4
				= image_tag @restaurant.picture, size: '150'
			.col-md-8
				br
				br
				= @restaurant.name
				br
				br
				= @restaurant.description
		br
		h2 Блюда данного пункта питания
		- @dishes.group_by(&:category_id).each do |category, dishes|
			= get_category_name(category)
			.row
				- dishes.each do |dish|
					.card.m-4 style="width: 12rem;"
						- if dish.photo.attached?
							= link_to dish_path(dish) do
								= image_tag dish.photo, size: '150', class:"card-img-top"
							.card-body.text-center
								.card-title
									h5 #{dish.name}
								= button_to 'В корзину', line_items_path(dish_id: dish, restaurant: @restaurant), method: :post
				