<!DOCTYPE html>
<html>
  <head>
    <title>Homework58</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header></header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
      
        <div class="col-md-2">
          <% if params[:controller] == 'restaurant' %>
            <%= render 'partials/menu' %>
          <% end %>
          <div id="cart">
            <%= render 'carts/cart' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
